<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
  </head>
  <body>
  <div class="container">

    <div class="row" id="header">
      <div class="col-md-4 col-md-offset-4">
        <h1>Tic Tac Toe</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"><h3>Player 1 Score</h3></div>
      <div class="col-md-4 col-md-offset-2"><span id="outcome"></span></div>
      <div class="col-md-2 col-md-offset-2"><h3>Player 2 Score</h3></div>
    </div>

    <div class="row">
      <div class="col-md-2"><span id="score1">0</span></div>
      <div class="col-md-2 col-md-offset-8"><span id="score2">0</span></div>
    </div>



    <div class="row" height="75%" id="board">
      <div class="col-md-6 col-md-offset-3">
        <table class="board">
          <tbody>
            <tr>
              <td class="square" id="1"></td>
              <td class="square" id="2"></td>
              <td class="square" id="3"></td>
            </tr>
            <tr>
              <td class="square" id="4"></td>
              <td class="square" id="5"></td>
              <td class="square" id="6"></td>
            </tr>
            <tr>
              <td class="square" id="7"></td>
              <td class="square" id="8"></td>
              <td class="square" id="9"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" id="footer">
      <div class="col-md-4 col-md-offset-4">
        <h2>Current Player: <span id="currentPlayer">1</span></h2>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <script src="js/script.js" charset="utf-8"></script>
  </div>
  </body>
</html>
